name: robot
 
on:
  workflow_dispatch:
  schedule:
    # Beijing Time 08:45, every other day, reference https://crontab.guru/ and https://datetime360.com/cn/utc-beijing-time/
    - cron: '45 0 */2 * *' 

jobs:
  robot:
    name: robot
    runs-on: ubuntu-latest
    steps:
      - name: 'Checkout'
        uses: actions/checkout@v1 
      
      - name: 'Setup Node'
        uses: actions/setup-node@v3
        with:
          node-version: 18
      
      - name: 'Run App'
        env:
          V2EX_SESSION: ${{ secrets.V2EX_SESSION }}
        run: npm i --silent && npm run start     
